<!DOCTYPE html>
<html lang='en'>
	{% include "shared/head" %}
	<body>
		{% include "shared/navbar" %}

		<div class='container'>
			{% include "shared/header" %}	

			<hr/>

			{% include page %}

			<hr/>

			<footer>
				{% include "shared/footer" %}
			</footer>
		</div>
		<!-- Placed at the end of the document so the pages load faster -->
		{% include "shared/js" %}
	</body>
</html>

