Copyright &copy; 2012 Jakub Pastuszek
<span style='float: right'>
	<a href="http://s09.flagcounter.com/more/0AA"><img src="http://s09.flagcounter.com/mini/0AA/bg_FFFFFF/txt_000000/border_FFFFFF/flags_0/" alt="free counters" border="0"></a>
</span>
