<div class='navbar navbar-fixed-top'>
	<div class='navbar-inner'>
		<div class='container'>
			<a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</a>
			<a class='brand' href='index.html'>
				56'Ks
			</a>
			<div class='nav-collapse'>
				<ul class='nav'>
					{% for page in navigation %}
					{% if permalink == page.permalink %}
					<li class='active'>
					{% else %}
					<li>
					{% endif %}
						<a href='{{relative_root}}{{page.slug}}/index.html'>
							{{page.name}}
						</a>
					</li>
					{% endfor %}
					<li>
						<a href='http://56ks.pun.pl/'>
							Forum
						</a>
					</li>
					<li>
						<a href='http://www.56ks.pun.pl/viewtopic.php?id=346'>
							Download
						</a>
					</li>
					<li>
						<a href='http://pl.wikipedia.org/wiki/Medal_of_Honor:_Allied_Assault'>
							Medal of Honor
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

