<div class='row'>
	<div class='span12'>
		<h1>Kontakt</h1>
		<p>Prosimy o kontakt na jeden z podanych adresów e-mail:</p>
		<ul class="unstyled">
			<li><a href="mailto:jarmal67@wp.pl">jarmal67@wp.pl</a></li>
			<li><a href="mailto:shaggy.35@wp.pl">shaggy.35@wp.pl</a></li>
		</ul>
	</div>
</div>

