<div class='row'>
	<div class='span12'>
		<h1>Historia klanu</h1>
		<p>
			Początki klanu sięgają czasów powstania pierwszej części Medal Of Honor Alied Assalut. Bardzo nowatorska gra i świetna grywalność spowodowała że od razu stała się niesamowicie popularna. Wtedy to dwóch naszych kolegów Kononek i Shaggy wpadło na pomysł aby pograć za pomocą sieci LAN. Najpierw spotkania odbywały się po domach ale z czasem gdy zaczęło przybywać zwolenników trzeba było wynająć salę aby można było grać w większym gronie. Graliśmy w każdy pierwszy piątek miesiąca (każdy z nas targał swojego PC-ta z monitorem 17 cali CRT + osprzęt) od godziny 19.00. do 6.00 następnego dnia.
		</p>
		<p>
			Wtedy to powstały po raz pierwszy dwa "obozy" Aliantów i Niemców. Rywalizacja dwóch teamów stała się ekscytującą rozgrywką.
		</p>
		<p>
			Po jednej stronie sali team Alies (Shaggy, Kononek, Wacha) a po drugiej team Axis do którego Malina ciągle zwoływał "nowych" graczy aby pokonać rywali.
		</p>
		<p>
			Medala nie mogło nic przebić, nawet próbowaliśmy Call of Duty 1 oraz Battlefield 1 no i nawet przez jakiś czas był "na tapecie" Counter Strike - ale gdy wszedł Spearhead to już nie było mowy o innej grze niż MOH.
		</p>
		<p>
			Po ukazaniu się na rynku dwóch dodatków Spearhead oraz Breakthrough rywalizacja stała się jeszcze ciekawsza gdyż przybyło nowych map i zwolenników.
		</p>
		<p>
			Rozgrywki w tym kształcie przetrwały aż do 2005 roku kiedy to powoli nasze drogi zaczęły się rozchodzić (zmiana pracy i miejsca zamieszkania).
		</p>
		<p>
			Nastała era powszechnie dostępnego "szybkiego" Internetu. Spowodowało to, że Shaggy i Sissco zaczęli grywać w Internecie rywalizując ze sobą na różnych serwerach. Wtedy okazało się że większość z "dawnej paczki" ma na tyle dobre łącze że można wznowić rozgrywki nie wychodząc z domu. I tak piątkowe spotkania (tym razem co tydzień) zostały wznowione. Grając w pojedynkę na różnych serwerach (najczęściej polskich) stwierdziliśmy że trzeba by nas jakoś wyróżnić spośród innych graczy. Powstał więc pomysł utworzenia klanu: 56 Kompania Specjalna.
		</p>
		<p>
			Rozgrywki w kształcie TDM trwają do dziś pomimo że upłynęło już 10 lat!!!!!
		</p>
	</div>
</div>

