<div class='row'>
	<div class='span12'>
		<div class="hero-unit">
			<h1>Polski Klan Medal of Honor</h1>
			<p>
				Jesteśmy polskim klanem <em>Medal of Honor: Allied Assault</em> i istniejemy od momentu ukazania się tej gry, czyli jakieś 10 lat. 
			</p>
			<p>
				Życzymy miłej rozgrywki na naszych serwerach i zachęcamy do współpracy.
			</p>
			<div class='btn-group'>
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
					Więcej o nas
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<%= link_to 'Skład Klanu', 'squad.html' %>
					<%= link_to 'Historia Klanu', 'history.html' %>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class='row'>
	<div class='span8'>
		<h1>Serwery klanowe</h1>
		<p>
			Posiadamy serwery publiczne na które zapraszamy wszystkich oraz prywatny serwer klanowy na którym rozgrywane są rozgrywki klanowe i międzyklanowe.
			Dokładamy wszelkich starań aby nasze serwery były przyjazne dla każdego, a nad przebiegiem rozgrywki czuwają administratorzy, którzy reagują w razie potrzeby. 
		</p>
		<p>
			Naszych serwerach obowiązuje zasada fair play. Wymagamy również kulturalnego zachowania się podczas gry.
		</p>
	</div>
	<div class='span4'>
		<h1>Forum</h1>
		<p>
			Zachęcamy do korzystania z naszego forum gdzie znajdziesz wszelkie aktualne informacje na temat klanu, rotacji map, zmianach w rozgrywkach itp.
		</p>
		<a class='btn' href='http://56ks.pun.pl/' target='_blanc'>
			Forum &raquo;
		</a>
	</div>
</div>

<div class='row'>
	<div class='span12'>
		<h2>Serwery publiczne</h2>
		<p>
			Zapraszamy wszystkich chętnych to rywalizacji w trybie Team Deatch Match na naszych serwerach publicznych.
			<ul class="unstyled">
				<li>
					<i class="icon-exclamation-sign"></i>
					<a href="tac.html">
						Regulamin
					</a>
				</li>
				<li>
					<i class="icon-remove-sign"></i>
					<a href="http://56ks.pun.pl/viewtopic.php?id=342" target='_blanc'>
						Problemy techniczne &raquo;
					</a>
				</li>
			</ul>
		</p>

		<ul class="thumbnails">
			<li class="span6">
				<h3>Mapy oryginalne</h3>
				<a class='thumbnail' href="http://www.gametracker.com/server_info/46.29.23.162:12103/" target="_blank">
					<img class="postimg" src="http://www.gametracker.com/server_info/46.29.23.162:12103/b_560_95_1.png" alt="http://www.gametracker.com/server_info/46.29.23.162:12103/b_560_95_1.png">
				</a>
				<p>
					Tylko oryginalne mapy z Medal of Honor: Allied Assault, Spearhead i Breakthrough.
					<ul class="unstyled">
						<li>
							<i class="icon-search"></i> 46.29.23.162:12103
						</li>
					</ul>
				</p>
			</li>
			<li class="span6">
				<h3>Mapy niestandardowe</h3>
				<a class='thumbnail' href="http://www.gametracker.com/server_info/46.29.23.162:12203/" target="_blank">
					<img class="postimg" src="http://www.gametracker.com/server_info/46.29.23.162:12203/b_560_95_1.png" alt="http://www.gametracker.com/server_info/46.29.23.162:12103/b_560_95_1.png">
				</a>
				<p>
					Mapy wybrane z ponad 180 niestandardowych map.
					Zapraszamy do pobrania map i dołączenia do rozgrywek na tym serwerze.
					<ul class="unstyled">
						<li>
							<i class="icon-search"></i> 46.29.23.162:12203
						</li>
					</ul>
				</p>
				<a class='btn' href='http://www.56ks.pun.pl/viewtopic.php?id=346' target='_blanc'>
					Pobierz mapy niestandardowe &raquo;
				</a>
			</li>
		</ul>
	</div>
</div>
