<div class='row'>
	<div class='span12'>
		<div class="hero-unit">
			<h1>Polski Klan Medal of Honor</h1>
			<p>
				<strong>56'ks</strong> to polski klan gry <a href='http://pl.wikipedia.org/wiki/Medal_of_Honor:_Allied_Assault' target='_blank'>Medal of Honor: Allied Assault</a>.
			</p>
			<p>
				Wspólnie gramy od momentu ukazania się tej gry, czyli już <em>ponad 10 lat</em>.
			</p>
			<p>
				Prowadzimy <em>publiczne serwery</em> na które serdecznie zapraszamy wszystkich graczy.
			</p>
			<p>
				Zapraszamy wszystkich miłośników MOH-a do pobierania niestandardowych map i grę na naszym serwerze <em>56KS CUSTOM MAPS</em>.
			</p>
			<div class='btn-group'>
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
					Więcej o nas
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<%= link_to 'Skład Klanu', 'squad.html' %>
					</li>
					<li>
						<%= link_to 'Historia Klanu', 'history.html' %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class='row'>
	<div class='span8'>
		<h1>Serwery</h1>
		<p>
			Prowadzimy publiczne serwery na które zapraszamy wszystkich graczy oraz prywatny serwer klanowy na którym rozgrywane są rozgrywki klanowe.
			Dokładamy wszelkich starań aby nasze serwery były przyjazne dla każdego. Nad przebiegiem rozgrywki czuwają administratorzy, którzy reagują w razie potrzeby. 
		</p>
		<p>
			Na naszych serwerach obowiązuje zasada fair play. Wymagamy również kulturalnego zachowania się podczas gry.
		</p>
		<ul class="unstyled">
			<li>
				<i class="icon-exclamation-sign"></i>
				<a href="tac.html">
					Regulamin
				</a>
			</li>
		</ul>
	</div>
	<div class='span4'>
		<h1>Forum</h1>
		<p>
			Zachęcamy do korzystania z naszego forum gdzie znajdziesz wszelkie aktualne informacje na temat klanu, rotacji map czy prowadzonych rozgrywek.
		</p>
		<a class='btn btn-inverse' href='http://56ks.pun.pl/' target='_blank'>
			Forum &raquo;
		</a>
	</div>
</div>

<div class='row'>
	<div class='span12'>
		<h2>Serwery publiczne</h2>
		<p>
			Zapraszamy wszystkich chętnych do rywalizacji w trybie Team Deatch Match na naszych serwerach publicznych.
		</p>

		<ul class="thumbnails">
			<li class="span6">
				<h3>Mapy oryginalne - PUBLIC SERWER</h3>
				<a class='thumbnail' href="http://www.gametracker.com/server_info/46.29.23.162:12103/" target="_blank">
					<img class="postimg" src="http://www.gametracker.com/server_info/46.29.23.162:12103/b_560_95_1.png" alt="http://www.gametracker.com/server_info/46.29.23.162:12103/b_560_95_1.png">
				</a>
				<p>
					Tylko oryginalne mapy z Medal of Honor: Allied Assault, Spearhead i Breakthrough.
				</p>
				<ul class="unstyled">
					<li>
						<i class="icon-search"></i> 46.29.23.162:12103
					</li>
				</ul>
			</li>
			<li class="span6">
				<h3>Mapy niestandardowe - CUSTOM MAPS PUBLIC SERWER</h3>
				<a class='thumbnail' href="http://www.gametracker.com/server_info/46.29.23.162:12203/" target="_blank">
					<img class="postimg" src="http://www.gametracker.com/server_info/46.29.23.162:12203/b_560_95_1.png" alt="http://www.gametracker.com/server_info/46.29.23.162:12103/b_560_95_1.png">
				</a>
				<p>
					Mapy wybrane z ponad 180 niestandardowych map.
					Zapraszamy do pobrania map i dołączenia do rozgrywek na tym serwerze.
				</p>
				<ul class="unstyled">
					<li>
						<i class="icon-search"></i> 46.29.23.162:12203
					</li>
				</ul>
				<p></p>
				<a id='download' class='btn btn-inverse' href='http://www.56ks.pun.pl/viewtopic.php?id=346' target='_blank' title="Download custom maps here">
					Pobierz mapy niestandardowe &raquo;
				</a>
			</li>
		</ul>
	</div>
</div>
