<div class='row'>
	<div class='span3'>
		<h1>Skład klanu</h1>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>
						Nick
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						(56'ks)_Sharlih_(PL)
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_Adam_(PL)                                
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_MaTiAs_(PL)               
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_EliminatoR_(PL)
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_SMOCZYCA_(PL)                 
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_malina_(PL)
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_KONONEK_(PL)
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_TREBOR_(PL)
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_sissco_(PL)
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_Czaszkin_(PL)
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_Wacha_(PL)
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_shaggy.35_(PL)
					</td>
				</tr>
				<tr>
					<td>
						(56'ks)_wazzz-up_(PL)
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

