<div class='row'>
	<div class='span12'>
		<h1>Skład klanu</h1>
		<div style="text-align: center">
			<h3>(56'ks)_Sharlih_(PL)</h3>
			<h3>(56'ks)_Adam_(PL)</h3>
			<h3>(56'ks)_EliminatoR_(PL)</h3>
			<h3>(56'ks)_Malina_(PL)</h3>
			<h3>(56'ks)_TREBOR_(PL)</h3>
			<h3>(56'ks)_Sissco_(PL)</h3>
			<h3>(56'ks)_Czaszkin_(PL)</h3>
			<h3>(56'ks)_Wacha_(PL)</h3>
			<h3>(56'ks)_Shaggy.35_(PL)</h3>
			<h3>(56'ks)_MUSK_(PL)</h3>
			<h3>(56'ks)_Wazzz-up_(PL)</h3>
			<h3>(56'ks)_Zul_(PL)</h3>
			<h3>(56'ks)_NEWMAN_(PL)</h3>
			<h3>(56'ks)_Ewelinka_(PL)</h3>
			<h3>(56'ks)_Kiwo_(PL)</h3>
		</div>
	</div>
</div>

