<div class='row'>
	<div class='span3'>
		<h1>Skład klanu</h1>
		<ul class="unstyled">
			<li>
				(56'ks)_Sharlih_(PL)
			</li>
			<li>
				(56'ks)_Adam_(PL)                                
			</li>
			<li>
				(56'ks)_MaTiAs_(PL)               
			</li>
			<li>
				(56'ks)_EliminatoR_(PL)
			</li>
			<li>
				(56'ks)_SMOCZYCA_(PL)                 
			</li>
			<li>
				(56'ks)_malina_(PL)
			</li>
			<li>
				(56'ks)_KONONEK_(PL)
			</li>
			<li>
				(56'ks)_TREBOR_(PL)
			</li>
			<li>
				(56'ks)_sissco_(PL)
			</li>
			<li>
				(56'ks)_Czaszkin_(PL)
			</li>
			<li>
				(56'ks)_Wacha_(PL)
			</li>
			<li>
				(56'ks)_shaggy.35_(PL)
			</li>
			<li>
				(56'ks)_wazzz-up_(PL)
			</li>
		</ul>
	</div>
</div>

