<div class='row'>
	<div class='span12'>
		<h1>Regulamin Servera 56'ks</h1>
		<p>
			Klan 56'ks zaprasza wszystkich chętnych do korzystania z serwera publicznego. Każdy gracz wchodzący do gry automatycznie akceptuje poniższy regulamin i zobowiązuje się go przestrzegać.
			Z serwera można korzystać bez ograniczeń oraz bez opłat na następujących zasadach:
		</p>
	</div>
	<div class='span12' style="text-align: center">
		<h3>&sect; 1</h3>

		<p>
			Kulturalne zachowanie się na serwerze to podstawa dobrej zabawy
		</p>

		<h3>&sect; 2</h3>

		Nie wolno: stosować obraźliwych ników , przeklinać, obrażać innych członków biorących udział w rozgrywce.
		Takie zachowanie będzie skutkowało nałożeniem kary dyscyplinującej przez Administratora serwera a w przypadku nie zastosowania się do powyższej BAN

		<h3>&sect; 3</h3>

		W trakcie gry zabrania się używania jakichkolwiek programów pomagających w grze . Wykrycie takiego programu przez administrotora skutkuje natychmiastowym wyrzuceniem gracza z serwera oraz dożywotnim BANEM

		<h3>&sect; 4</h3>

		TAG klanu 56'ks jest znakiem ZASTRZEŻONYM i nie wolno nikomu go uzywać w rozgrywkach Medal of Honor

		<h3>&sect; 5</h3>

		Nie zabijaj osób piszących . Nad osobą która pisze znajduje się odpowiedni znaczek.
		Jeśli chcesz coś napisać w trakcie gry to nie stój na środku planszy. ( najlepiej jest stanąć w rogu planszy i skierować karabin do dołu) .
		Jeśli zabiłeś kogoś piszącego przez przypadek to wypada przeprosić.

		<h3>&sect; 6</h3>

		Wszelkie decyzje Administratora serwera są niepodważalne, administrator może przywołać do porządku niesfornego gracza, nałożyć kare dyscyplinującą w celu zaprowadzenia porządku na serwerze.
		Admin może też "przenieść" zawodnika do drużyny przeciwniej dla wyrównania składów podczas gry.

		<h3>&sect; 7</h3>

		Niedozwolone jest tzw. Campienie (przebywanie przez długi czas w jednym i tym samym miejscu) jedynym odstępstwem od tej reguły  jest  korzystanie ze snajperki '

		<h3>&sect; 8</h3>

		Jeśli uważasz, ze ktoś gra nie fair nie pisz tego w trakcie gry, daj znać adminowi lub  innemu członkowi klanu - lub napisz o tym na Forum.

		<h3>&sect; 9</h3>

		Administrator może w trakcie gry wykonać każedemu zawodnikowi tzw. screenshoot po czym ten screenshoot należy niezwłocznie odesłać do administratora gry. Ma to na celu sprawdzenie czy dany użytkownik serwera nie stosuje podczas gry niedozwolonych programów wspomagających. Nie odesłanie screenshoot-a skutkuje BANEM aż do wyjaśnienia sprawy. Screenshoot znajduje się w katalogu z grą

		C:\Program Files\EA GAMES\MOHAA\maintt

		<h3>&sect; 10</h3>

		Wszelkie informacje o  zmianach działania serwera oraz zasad jego prowadzenia poinformujemy poprzez forum 56'ks

		<h3>&sect; 11</h3>

		Życzymy wszystkim gościom miłej zabawy na naszym serwerze !!!!

	</div>
</div>

